:root{
    --red: #E50914;
    --black: #141414;
    --white: #faf9f9;
    --green: #54c871;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #dfdfdf;
    scroll-behavior: smooth;
}

body{
    background: var(--black);
    font-family: Arial, 'Times New Roman', Times, serif;
}

header{
    background-image: linear-gradient(var(--black), rgba(20,20,20,.6));
}

button{
    border: none;
    padding: 12px 25px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

button + button{
    margin-left: 10px;
}

i {
    margin-right: 8px;
    color: var(--black);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

header .logo{
    width: 95px;
    cursor: pointer;
}

header nav a{
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
}

header nav a:hover{
    color: #dfdfdf;
}

/* filme principal*/

.filme-principal{
    font-size: 18px;
    background: linear-gradient(rgba(20,20,20,.01), rgba(20,20,20,.1)), url(../img/download.webp) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 0 60px;
    margin-top: -20px;
    background-position: 100%;
}

.filme-principal img{
    width: 65%;
}

main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin-top: -90px;
}

.filme-principal .container .temporada{
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filme-principal .container .temporada i{
    color: #E50914;
}

.filme-principal .container .descricao{
    margin: 20px 0;
    width: 65%;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 600;
}

button.assistir{
    background-color: var(--white);
    color: var(--black);
}

button.assistir:hover{
    background-color: rgba(250,249,249,.8);
}

button.informacao{
    background-color:rgba(250,249,249,.2);
}

button.informacao i{
    color: var(--white);
}

button.informacao:hover{
    background-color:rgba(250,249,249,.1);
}

.carrosel-filmes{
    margin-top: -120px;
}

.carrosel-filmes p{
    margin: 40px 60px;
    font-size: 21px;
    font-weight: 600;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
}

.btn {
    background-color: rgb(33, 156, 70);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(4, 92, 30);
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: #FFF;
}

.btn:hover {
    background-color: rgb(4, 92, 30);
}

.btn:active {
    background-color: rgb(129, 255, 166);
    color: rgb(4, 92, 30);
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 800px;
    padding: 0;
    border-radius: 10px;
}

.modal-header, .modal-body, .modal-footer{
    padding: 10px;
}

.modal-header a{
    border: none;
    padding: 12px 25px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--black);
}

.modal-header{
    display: flex;
    position: relative;
    height: 60vh;
    align-items: flex-end;
}

.modal-header img{
    z-index: 1;
    width: 50%;
    position: absolute;
    margin: 150px 0;
}

.modal-header .assistir{
    height: 40px;
    margin-right: 20px;
    z-index: 1;
    margin: 100px 10px;
}

.modal-header .icone-redondo{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 10px;
    z-index: 1;
    cursor: pointer;

}

.modal-header .icone-redondo i{
    align-items: center;
    font-size: 25px;
    color: #dfdfdf;
}

.modal-body{
    background-color: var(--black);
    display: flex;
    padding: 20px;
}

.modal-body .info-telespectador{
    font-size: 18px;
}

#filmes, #documentarios, #series{
    margin-top: 80px;
}
.modal-body .info-telespectador 
p:nth-child(1) 
span:nth-child(1){
    font-size: 24px;
    color: var(--green);
}

.modal-body .info-telespectador 
p:nth-child(1) 
span:nth-child(2){
    font-size: 24px;
    background-color: var(--red);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-body .info-telespectador 
p:nth-child(2) {
    margin: 20px 0;
    width: 65%;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 600;
}

.modal-body .info-telespectador i{
    color: var(--red);
    font-size: 30px;
}

.modal .info-elenco{
    font-size: 14px;
}

.modal .info-elenco p{
    padding: 0 20px;
    margin-bottom: 10px;
}

.modal .info-elenco span{
    color: #727272;
}

.modal-footer{
    padding: 20px;
    background-color: var(--black);
    border-radius: 0 0 10px 10px;
}

.close{
    display:none;
}

footer{
    display: flex;
    flex-direction: column;
}
hr{
    margin: 80px 0;
    padding: 0;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer ul li a{
    margin-right: 20px;
    color: #b4b4b4;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
    color: #faf9f9;
}

footer p {
    text-align: center;
    margin: 30px;
    color: #b4b4b4;
}
